:root {
  --color-primary: #2bd0d0;
  --color-secondary: #3b3054;
  --color-error: #f46262;
  --color-dark-blue: #35323e;
  --color-dark: #232127;
  --color-violet-light: #9e9aa7;
  --color-violet-lighter: #f0f1f6;
  --color-white: #ffffff;
  --color-gray-20: #dedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 1rem;
}

/* sui-header */
.sui-header {
  margin-top: 1.75rem;
  margin-bottom: 2.625rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sui-burger-menu {
  width: 32px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: transparent;
  background-repeat: no-repeat;
  background-image: url("../images/menu.svg");
}
/* sui-header end */

.sui-banner {
  background-image: url("../images/ilustration-working.png");
  width: 100%;
  height: 338px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  margin-bottom: 2.625rem;
}

/* main section */
.sui-title {
  font-size: 2.625rem;
  font-weight: bold;
  text-align: center;
  line-height: 48px;
  color: var(--color-dark-blue);
}

.sui-text {
  font-size: 1rem;
  color: var(--color-violet-light);
  text-align: center;
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;
}

.section-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* end main section */

form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px;
  background-color: var(--color-secondary);
  margin: 3rem 0;
}

/* sui-input-group */
.sui-input-group {
  display: flex;
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 768px;
}

.sui-input-group input {
  display: flex;
  flex: 1;
  padding: 0.66rem 0.5rem;
  border-radius: 4px 0 0 4px;
  border-width: 1px;
  border-style: solid;
  border-right: none;
  border-color: var(--color-violet-light);
}

.sui-input-group input,
.sui-input-group input::placeholder {
  font-family: inherit;
  font-size: 1rem;
  color: var(--color-violet-light);
}

.sui-input-group button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: #2bd0d0;
  border-width: 1px;
  border-style: solid;
  border-color: #2bd0d0;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  padding: 0.66rem 0.3rem;
  min-width: 100px;
}
/* end sui-input-group */

/* advanced statistics section */
.statiscs-section {
  background-color: var(--color-violet-lighter);
}

.sui-subtitle {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
  color: var(--color-dark-blue);
}

.sui-card {
  position: relative;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 2px 2px 8px #dedede;
  padding: 25px;
  padding-top: 5rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.sui-card .avatar {
  position: absolute;
  top: -20%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: var(--color-secondary);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-secondary);
  border-radius: 50%;
}

.sui-card h3 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-dark-blue);
}

.sui-card .sui-text {
  margin-bottom: 0;
}
/* end advanced statistics section */

/* boost your links section */
.boost-your-links-section {
  background-color: var(--color-secondary);
}

.boost-your-links-section .container {
  padding-top: 91px;
  padding-bottom: 91px;
  text-align: center;
}

.boost-your-links-section .sui-subtitle {
  color: var(--color-white);
  margin-bottom: 22px;
}
/* end boost your links section */

/* footer */
footer {
  background-color: var(--color-dark);
}

footer .container {
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
}

.footer-links .links {
  margin: 3rem 0;
}

.footer-links .links h3 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray-20);
  margin-bottom: 1.375rem;
}

.footer-links .links ul li {
  margin-bottom: 1rem;
}

.footer-links .links ul li:nth-last-child(1) {
  margin-bottom: 0;
}

.footer-links .links ul li a {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-violet-light);
}

.sui-social-medias {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sui-social-medias li {
  margin-right: 1.375rem;
}

.sui-social-medias li:nth-last-child(1) {
  margin-right: 0;
}
/* end footer */
