.advanced-statistics-section {
  background-color: $color-violet-lighter;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1440px) {
  .cards-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
