.boost-your-links-section {
  background-color: $color-secondary;
}

.boost-your-links-section .container {
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
  text-align: center;
}

.boost-your-links-section .sui-subtitle {
  color: $color-white;
  margin-bottom: $spacing-lg;
}
