@import "theme.scss";
@import "components/sui-header.scss";
@import "components/sui-text.scss";
@import "components/sui-input-group.scss";
@import "components/sui-title.scss";
@import "components/sui-subtitle.scss";
@import "components/sui-footer.scss";
@import "main-section.scss";
@import "advanced-statistics-section.scss";
@import "boost-your-links-section.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 $spacing-md;
}

.color-primary {
  fill: $color-primary;
}

.statistic-icon {
  fill: $color-primary;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 680px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
