@import "theme.scss";
@import "components/sui-header.scss";
@import "components/sui-button.scss";
@import "components/sui-logo.scss";
@import "components/sui-text.scss";
@import "components/sui-input-group.scss";
@import "components/sui-subtitle.scss";
@import "components/sui-card.scss";
@import "components/sui-social-media-links.scss";
@import "components/sui-footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-primary;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 1rem;
}

/* main section */
.sui-banner {
  max-width: 100%;
  margin-bottom: 2.625rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sui-title {
  font-size: $font-size-xl;
  font-weight: bold;
  text-align: center;
  line-height: 48px;
  color: $color-dark-blue;
}

.section-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* advanced statistics section */
.statiscs-section {
  background-color: $color-violet-lighter;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* boost your links section */
.boost-your-links-section {
  background-color: $color-secondary;
}

.boost-your-links-section .container {
  padding-top: 91px;
  padding-bottom: 91px;
  text-align: center;
}

.boost-your-links-section .sui-subtitle {
  color: $color-white;
  margin-bottom: 22px;
}

/* footer */

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 680px;
    margin: 0 auto;
  }

  .sui-banner {
    max-width: 450px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .sui-title {
    font-size: $font-size-xxl;
    line-height: 90px;
    text-align: left;
  }

  /* main section */
  .sui-banner {
    max-width: 450px;
  }

  .main-section {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .main-section .sui-text {
    text-align: left;
    max-width: 380px;
  }

  .section-cta {
    justify-content: start;
  }

  /* statistics section */
  .cards-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
