@import "theme.scss";
@import "components/sui-header.scss";
@import "components/sui-button.scss";
@import "components/sui-logo.scss";
@import "components/sui-text.scss";
@import "components/sui-input-group.scss";
@import "components/sui-title.scss";
@import "components/sui-subtitle.scss";
@import "components/sui-card.scss";
@import "components/sui-social-media-links.scss";
@import "components/sui-footer.scss";
@import "main-section.scss";
@import "advanced-statistics-section.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 $spacing-md;
}

/* boost your links section */
.boost-your-links-section {
  background-color: $color-secondary;
}

.boost-your-links-section .container {
  padding-top: 91px;
  padding-bottom: 91px;
  text-align: center;
}

.boost-your-links-section .sui-subtitle {
  color: $color-white;
  margin-bottom: 22px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 680px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
