$color-primary: #2bd0d0;
$color-secondary: #3b3054;
$color-error: #f46262;
$color-dark-blue: #35323e;
$color-dark: #232127;
$color-violet-light: #9e9aa7;
$color-violet-lighter: #f0f1f6;
$color-white: #ffffff;
$color-gray-20: #dedede;
$font-family-primary: "Poppins", sans-serif;
