.sui-social-media-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sui-social-media-links li {
  margin-right: 1.375rem;
}

.sui-social-media-links li:nth-last-child(1) {
  margin-right: 0;
}

.sui-social-media-links li a {
  display: block;
  height: 24px;
}
