.sui-card {
  position: relative;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 2px 2px 8px $color-gray-20;
  padding: 25px;
  padding-top: 5rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  max-width: 320px;
}

.sui-card .avatar {
  position: absolute;
  top: -20%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: $color-secondary;
  border-width: 1px;
  border-style: solid;
  border-color: $color-secondary;
  border-radius: $border-radius-circle;
}

.sui-card h3 {
  text-align: center;
  font-size: $font-size-md;
  font-weight: bold;
  color: $color-dark-blue;
}

.sui-card .sui-text {
  margin-bottom: 0;
}
