.sui-header {
  margin: $spacing-lg $spacing-md;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sui-header .sign-in {
  display: flex;
  flex-basis: 200px;
  justify-content: space-between;
  align-items: center;
}

.sui-burger-menu {
  width: 32px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: transparent;
  background-repeat: no-repeat;
  background-image: url("../images/menu.svg");
}

.sui-nav-menu {
  display: none;
}

.sui-nav-menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 320px;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
  background-color: $color-white;
  z-index: $z-index-top;
  transform: translate(100%);
  transition: transform 0.3s ease-out;
}

.sui-nav-menu-mobile .header {
  padding-top: $spacing-lg;
  padding-bottom: $spacing-sm;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $color-gray-20;
}

.sui-nav-menu-mobile ul {
  margin-top: $spacing-lg;
}

.sui-nav-menu-mobile ul li {
  padding-bottom: $spacing-lg;
}

.sui-nav-menu-mobile ul li a {
  font-weight: $font-weight-bold;
  color: $color-violet-light;
}

#nav-menu-mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-dark;
  opacity: 0;
  z-index: $z-index-top;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.sui-nav-menu-mobile .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sui-nav-menu-mobile .close-button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .sui-header {
    margin-left: $spacing-lg;
    margin-right: $spacing-lg;
  }

  .sui-burger-menu,
  .sui-nav-menu-mobile,
  #nav-menu-mobile-backdrop {
    display: none;
  }

  .sui-nav-menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-left: $spacing-xl;
  }

  .sui-nav-menu ul li a {
    font-weight: $font-weight-bold;
    color: $color-violet-light;
  }

  .sui-nav-menu ul li a:hover {
    text-decoration: underline;
  }

  .sui-nav-menu ul li .sui-link:hover {
    text-decoration: none;
  }

  .sui-link {
    background-color: $color-primary;
    color: $color-white !important;
    border-width: 1px;
    border-style: solid;
    border-color: $color-primary;
    border-radius: $border-radius-base;
    padding: $spacing-sm $spacing-lg;
  }

  .sui-header .menu {
    display: flex;
    flex-basis: 300px;
    justify-content: space-between;
  }
}
